[package]
name = "xtask"
version = "0.2.2"
edition = "2024"
publish = false

[lints]
workspace = true
[dependencies]
anyhow = { workspace = true }
clap = { workspace = true }
tempfile = { workspace = true }
